@model IEnumerable<Sem09.Models.ActeurSerie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Acteur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Acteur.ActeurId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie.SerieId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ActeurSerieId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ActeurSerieId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ActeurSerieId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
