@model Sem09.Models.AuditActeurSerie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AuditActeurSerie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Action)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Action)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acteur.ActeurId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serie.SerieId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AuditActeurSerieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
